.book-list {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  max-width: 400px;
  margin: 1rem auto;
  font-family: Arial, sans-serif;
}

.book-list h2 {
  text-align: center;
  color: #1233c4;
  margin-bottom: 1rem;
}

.book-list ul {
  list-style-type: none;
  padding-left: 0;
}

.book-list li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #969991;
  color: black;
  font-weight: bold;
}

.book-list li:last-child {
  border-bottom: none;
}
